/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
@-webkit-keyframes passing-through {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px); }
    30%, 70% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px); } }
@-moz-keyframes passing-through {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px); }
    30%, 70% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px); } }
@keyframes passing-through {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px); }
    30%, 70% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px); } }
@-webkit-keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px); }
    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); } }
@-moz-keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px); }
    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); } }
@keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px); }
    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); } }
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
    10% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
    20% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); } }
@-moz-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
    10% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
    20% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); } }
@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
    10% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
    20% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); } }
.dropzone, .dropzone * {
    box-sizing: border-box; }

.dropzone {
}
.dropzone.dz-clickable {
    cursor: pointer; }
.dropzone.dz-clickable * {
    cursor: default; }
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}
.dropzone.dz-started .dz-message {
    /*display: none;*/
    width: 383px;
    min-height: 213px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 12px auto 5px;
    padding: 22px 52px;
    background: #fff;
    border: 2px dashed #c2cdda;
    border-radius: 3px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.dropzone.dz-drag-hover {
    border-style: solid; }
.dropzone.dz-drag-hover .dz-message {
    opacity: 0.5; }
.dropzone .dz-message {
    text-align: center;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px 4%;
    min-height: 100px;
    border-radius: 0;
}
.dropzone .dz-preview:hover {
    z-index: 1000; }
.dropzone .dz-preview:hover .dz-details {
    opacity: 1; }
.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 20px;
    background: #999;
    background: linear-gradient(to bottom, #eee, #ddd); }
.dropzone .dz-preview.dz-file-preview .dz-details {
    opacity: 1; }
.dropzone .dz-preview.dz-image-preview {
    /* background: white; */
}
.dropzone .dz-preview.dz-image-preview .dz-details {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
.dropzone .dz-preview .dz-remove {
    background: url("/../assets/images/unnamed.png") no-repeat;
    font-size: 0;
    text-align: center;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
    border: none;
    background-size: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 20;
}
.dropzone .dz-preview .dz-remove:hover {
    text-decoration: underline; }
.dropzone .dz-preview:hover .dz-details {
    opacity: 1; }
.dropzone .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    padding: 2em 1em;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    line-height: 150%; }
.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 1em;
    font-size: 16px; }
.dropzone .dz-preview .dz-details .dz-filename {
    white-space: nowrap; }
.dropzone .dz-preview .dz-details .dz-filename:hover span {
    border: 1px solid rgba(200, 200, 200, 0.8);
    background-color: rgba(255, 255, 255, 0.8); }
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
    overflow: hidden;
    text-overflow: ellipsis; }
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
    border: 1px solid transparent; }
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 0.4em;
    border-radius: 3px; }
.dropzone .dz-preview:hover .dz-image img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-filter: blur(8px);
    filter: blur(8px); }
.dropzone .dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 140px;
    height: 140px;
    position: relative;
    display: block;
    z-index: 10;
}
.dropzone .dz-preview .dz-image img {
    display: block;
    width: 100%;
    height: 100%;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
    -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }
.dropzone .dz-preview.dz-error .dz-error-mark {
    opacity: 1;
    -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px; }
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
    display: block;
    width: 54px;
    height: 54px; }
.dropzone .dz-preview.dz-processing .dz-progress {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
.dropzone .dz-preview.dz-complete .dz-progress {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in; }
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
    -webkit-animation: pulse 6s ease infinite;
    -moz-animation: pulse 6s ease infinite;
    -ms-animation: pulse 6s ease infinite;
    -o-animation: pulse 6s ease infinite;
    animation: pulse 6s ease infinite; }
.dropzone .dz-preview .dz-progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-top: -8px;
    width: 80px;
    margin-left: -40px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transform: scale(1);
    border-radius: 8px;
    overflow: hidden; }
.dropzone .dz-preview .dz-progress .dz-upload {
    background: #333;
    background: linear-gradient(to bottom, #666, #444);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out; }
.dropzone .dz-preview.dz-error .dz-error-message {
    display: block; }
.dropzone .dz-preview.dz-error:hover .dz-error-message {
    opacity: 1;
    pointer-events: auto;
}
.dropzone .dz-preview .dz-error-message {
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    display: block;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    font-size: 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(190, 38, 38, 0.7);
    background: linear-gradient(to bottom, #be2626, #a92222);
    padding: 0.5em 1.2em;
    color: white;
    text-align: center;
}
.dropzone .dz-preview .dz-error-message:after {
    content: '';
    /* position: absolute; */
    /* top: -6px; */
    /* left: 64px; */
    /* width: 0; */
    /* height: 0; */
    /* border-left: 6px solid transparent; */
    /* border-right: 6px solid transparent; */
    /* border-bottom: 6px solid #be2626; */
}

.dropzone .dz-default span {
}
div#uploadzone {
    text-align: center;
}
.dz-default img {
    display: block;
    max-width: 64px;
    margin: 0 auto;
    margin-bottom: 2px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

h3.fileuploader-input-caption {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.dz-default p {
    margin: 13px 0 !important;
    font-size: 16px;
    display: inline-block;
    width: 100%;
}

.fileuploader-input-button {
    display: inline-block;
    background: #fff;
    padding: 8px 14px;
    border-radius: 4px;
    color: #008BFF;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    margin-top: 10px;
    border: 1px solid #008BFF;
}

.fileuploader-input-button:hover {
    background: #008BFF;
    color: #fff;
}
.dz-default-hidden .dz-default {
    display: none;
}
.profile_image.dropzone {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    min-height: 42px !important;
    width: 140px !important;
}

.profile_image .dz-default img {
    display: none;
}


.profile_image .dz-default .fileuploader-input-caption {
    display: none;
}

.profile_image .dz-default p {
    display: none;
}

.profile_image .dz-default {
    text-align: inherit;
}
.profile_image.dropzone.dz-started .dz-message {
    display: block;
}

.profile_image .dz-preview {
    margin: 15px 0 0;
}
.dz-olg-img {
    display: inline-block;
    position: absolute !important;
    bottom: 0;
    right: 0;
}

.profile_image.dz-max-files-reached {
    height: 197px;
}




.avatar_img{
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
.avatar_img #uploadFile1:disabled, .avatar_img #uploadFile2:disabled , .avatar_img #uploadFile3:disabled{
    cursor: not-allowed;
}
.avatar_img p{
    position: relative;
    width: 100%;
}
#uploadFile1 , #uploadFile2 , #uploadFile3{
    line-height: 28px;
    width: 100%;
    float: left;
    padding: 0.5em 1em;
    height: 36px;
    display: inline-block;
    border: 1px solid #1E6DB6;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1888C8;
    position: absolute;
    color: #000 !important;
    left: 0;
}
.file-upload {
    position: relative;
    overflow: hidden;
    margin: 0px;
    float: right;
    color: #fff;
    background-color: #1F6DB7;
    border-color: #2e6da4;
    display: inline-flex;
    text-align: center;
    width: 37%;
    height: 34px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    align-items: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    z-index: 2;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0;
    font-size: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.file-upload span{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.first_circular a:hover {
    opacity: 0.8;
}
#uploadPreview{
    display: inline-block;
    width: 125px;
    height: 125px;
}
.file-upload.btn.btn-primary {
    width: 128px;
    text-align: center;
}
.profile-image-preview{
    display: none;
    margin-top: 15px;
}
.ct-media--left {
    display: table-cell;
    border-radius: 3px;
    overflow: hidden;
    width: 131px;
    border: 3px solid #fff;
    box-shadow: 0 0 3px 0 rgba(4,4,4,.3);
    float: right;
}
.ct-media--content {
    display: table-cell;
    vertical-align: middle;
    padding: 53px 12px;
}

a.cross {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #e30000;
}
.profile-image-preview.active {
    display: block;
}
h3.fileuploader-input-caption {
    font-size: 13px;
    margin-top: 11px;
    line-height: 18px;
    color: #97A1A8;
}
.dz-default.dz-message {
    width: 370px;
    position: relative;
    overflow: hidden;
    display: block;
    padding: 25px 45px;
    background: #fff;
    border: 2px dashed #c2cdda;
    border-radius: 3px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    margin: 10px auto;
}
.dz-default.dz-message i {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #97A1A8;
    font-size: 47px;
}
@media (max-width: 768px) {
    .dz-default.dz-message {
        width: 100% !important;
    }
    div#uploadzone {
        padding: 0 5px;
    }
    .dropzone .dz-preview{
        margin: 16px 3% !important;
    }
}